<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Whisky/Twist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
  <div class="container-fluid background">
    <div>
      <div class="home-content">
        <h1 id="co-name" class="pb-2">WHISKY/TWIST</h1>
        <a class="btn btn-sm btn-primary" href="/whiskies">Enter</a>
      </div>
    </div>
  </div>

<% include ./partials/footer %>
