<% include ./partials/header %>

<div class="container main text-center>
  <br/>
  <div id="landing-message">
    <h1>Home Page</h1>
    <br/>
    <a class="btn btn-sm btn-outline-primary" href="/whiskies">Enter</a>
  </div>
</div>

<% include ./partials/footer %>
