<h1>Add a New Whisky</h1>

<form action="/whiskies" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image url">
  <input type="text" name="type" placeholder="type">
  <input type="text" name="description" placeholder="description">
  <button>Submit</button>
</form>

<a href="/whiskies">Return to list</a>
